[Desktop Entry]
Name=QtPuzzle
GenericName=QtPuzzle
Comment=QtPuzzle
Exec=qtpuzzle
#Icon=qtpuzzle
Terminal=false
Type=Application
X-DCOP-ServiceType=Multi
X-KDE-StartupNotify=true
Categories=Game;KidsGame;
X-Desktop-File-Install-Version=0.18
