[Desktop Entry]
Encoding=UTF-8
Categories=Application;Graphics;Qt4;
X-Desktop-File-Install-Version=0.18
Name=Qt PDF Viewer
Name[de]=Qt PDF-Betrachter
Name[sr]=Кјут ПДФ прегледач
Name[sr@ijekavian]=Кјут ПДФ прегледач
Name[sr@latin]=Qt PDF pregledač
Name[sr@ijekavianlatin]=Qt PDF pregledač
Name[sv]=Qt PDF-visare
Comment=View Adobe PDF (acrobat) files
Comment[de]=PDF-Betrachter
Comment[sr]=Прегледач ПДФ фајлова
Comment[sr@ijekavian]=Прегледач ПДФ фајлова
Comment[sr@latin]=Pregledač PDF fajlova
Comment[sr@ijekavianlatin]=Pregledač PDF fajlova
Comment[sv]=Visar Adobe PDF-filer (acrobat-filer)
Exec=qtpdfview
Terminal=0
Type=Application
Icon=qtpdfview
MimeType=application/pdf;
