[Desktop Entry]
Name=QRDC
GenericName=Qt Remote Desktop Connection
Type=Application
Comment=Qt Remote Desktop Connection
Exec=qrdc
TryExec=qrdc
Icon=qrdc
Terminal=false
Categories=Qt;Network;RemoteAccess;
